@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 8px 32px rgba(0,0,0,0.25);
    text-align:center;
    transition:0.3s;
}

.container:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 35px rgba(0,0,0,0.35);
}

h1{
    color:#fff;
    margin-bottom:25px;
    font-size:2rem;
}


.search-box{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search-box input{
    flex:1;
    padding:12px 15px;
    border:none;
    outline:none;
    border-radius:50px;
    font-size:16px;
    background:rgba(255,255,255,0.25);
    color:#fff;
}

.search-box input::placeholder{
    color:#f1f1f1;
}

.search-box button{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
    color:#fff;
    background:#0099ff;
    transition:0.3s;
}

.search-box button:hover{
    background:#0077cc;
    transform:scale(1.08);
}


.weather-card{
    color:#fff;
}

.weather-card img{
    width:120px;
    margin:15px 0;
}

#cityName{
    font-size:28px;
    margin-bottom:10px;
}

#temperature{
    font-size:60px;
    margin-bottom:10px;
}

#condition{
    font-size:20px;
    margin-bottom:25px;
    text-transform:capitalize;
}


.details{
    display:flex;
    justify-content:space-between;
    gap:15px;
}

.box{
    flex:1;
    background:rgba(255,255,255,0.18);
    border-radius:15px;
    padding:18px;
    transition:0.3s;
}

.box:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,0.28);
}

.box i{
    font-size:28px;
    margin-bottom:10px;
}

.box h3{
    font-size:22px;
    margin-bottom:5px;
}

.box p{
    font-size:15px;
}


#error{
    margin-top:20px;
    color:#ffe5e5;
    font-weight:600;
}


@media(max-width:480px){

    .container{
        padding:20px;
    }

    h1{
        font-size:1.7rem;
    }

    #temperature{
        font-size:48px;
    }

    #cityName{
        font-size:24px;
    }

    .details{
        flex-direction:column;
    }

    .search-box{
        flex-direction:column;
    }

    .search-box button{
        width:100%;
        border-radius:50px;
    }

}